@import '@/styles/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.container {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.button {
    display: inline-block;
    line-height: 30px;
    height: 30px;
    font-size: 10px;
    font-weight: 500;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;

}

h2 {
    color: $purple; 
    margin-bottom: 8px;
}
.subtitle {
    font-size: 11px;
    color: $grey;
}
.divider {
    height: 9px;
    margin: 20px;
}
.special-text {
    font-size: 16px;
    color: $purple;
    font-weight: 400;
}
.description-text {
    font-size: 11px;
    color: $grey;
}

.round-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
        width: 20px;
        height: 20px;
    }
}
.border-rule {
    margin: 15px 0;
    width: 100px;
    border-bottom: 1px $sugar solid;
}
