@import '@/styles/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.button {
    width: 110px;
    height: 30px;
    font-size: 10px;
    font-weight: 400;
    padding-left:7px;
    text-transform: uppercase;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

h2 {
    color: $purple; 
}
.subtitle {
    font-size: 11px;
    color: $grey;
}
.divider {
    height: 9px;
    margin: 20px;
}
